.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("https://th.bing.com/th/id/R.413f1e229a2ea805f4a0266d74ceea12?rik=JoMW%2flBE%2fb5aIA&riu=http%3a%2f%2fcf.collectorsweekly.com%2fstories%2ffeL-g0iUKjtFan6k6F5oVg-small.jpg&ehk=gqFDvLwtDWPF60ziHH3kM2ozml8pEiGKZ5rmfpV9CgM%3d&risl=&pid=ImgRaw&r=0");
  background-size: cover;
}

.register__title {
  font-size: 50px;
  font-family: var(--ff-secondary);
}

.register__form {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.register__form > label {
  margin: 10px 0;
}

.register__input {
  padding: 10px;
  background-color: var(--clr-light);
  border: 1px solid var(--clr-dark);
  border-radius: 10px;
  font-family: inherit;
  box-shadow: var(--bs);
}

.register__input:focus {
  outline: none;
}

.register__button {
  margin-top: 20px;
  cursor: pointer;
  background-color: var(--clr-accent2);
  color: var(--clr-light);
  padding: 10px;
  border: none;
  border-radius: 10px;
  text-align: center;
  font-family: inherit;
  box-shadow: var(--bs);
}

.register__button:hover {
  color: var(--clr-dark);
  background-color: var(--clr-accent);
}

.register__loginButton {
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: var(--clr-accent2);
  cursor: pointer;
  padding: 10px;
  border: none;
  color: var(--clr-light);
  border-radius: 10px;
  font-family: inherit;
  box-shadow: var(--bs);
}
