.singlePost {
    flex: 9;
}

.singlePost__container {
    padding: 20px;
    padding-right: 0;
    display: flex;
    flex-direction: column;
}

.singlePost__img {
    width: 100%;
    height: 300px;
    border-radius: 7px;
    object-fit: cover;
}

.singlePost__title {
    text-align: center;
    margin: 10px;
    font-size: 28px;
    font-family: var(--ff-secondary);
}

.singlePost__edit {
    float: right;
    font-size: 20px;
}

.singlePost__icon {
    margin-left: 10px;
    padding: 2px;
    cursor: pointer;
}

.singlePost__edit:first-child {
    color: var(--clr-accent);
}

.singlePost__edit:last-child {
    color: var(--clr-accent2);
}

.singlePost__icon:hover {
    border: 1px solid var(--clr-dark);
    border-radius: 50%;
}

.singlePost__info {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    color: var(--clr-accent);
}

.singlePost__author {
    margin-left: 5px;
    color: var(--clr-dark);
}

.singlePost__link {
    color: inherit;
    text-decoration: none;
}

.singlePost__link:hover {
    color: var(--clr-accent2);
}

.singlePost__description {
    font-size: 18px;
    line-height: 25px;
}

.singlePost__description::first-letter {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}

/* update  form css */
.singlePost__titleInput {
    margin: 20px 0;
    font-size: 20px;
    border: none;
    padding: 20px;
    width: 70vw;
    font-family: var(--ff-secondary);
    color: var(--clr-dark);
    box-shadow: var(--bs);
    line-height: 25px;
}

.singlePost__titleInput:focus, .singlePost__descriptionInput:focus {
    outline: none;
}

.singlePost__descriptionInput {
    width: 70vw;
    height: 100vh;
    font-family: inherit;
    font-size: 20px;
    color: var(--clr-dark);
    padding: 10px;
    border: none;
    box-shadow: var(--bs);
}

.singlePost__button {
    width: 150px;
    margin-top: 35px;
    padding: 10px;
    color: var(--clr-light);
    font-size: 16px;
    background-color: var(--clr-accent2);
    border: none;
    cursor: pointer;
    border-radius: 10px 0 10px 0;
    align-self: flex-end;
    text-align: center;
    justify-content: flex-end;
    display: flex;
    box-shadow: var(--bs);
    font-family: var(--ff-secondary);
}

.singlePost__button:hover {
    color: var(--clr-dark);
    background-color: var(--clr-accent);
}